@import "./variables.scss";
@import "./fonts.scss";

div.modal-body {
  padding: 0;
}

div.modal-dialog {
  max-width: 864px;
}

.popup-order {
  max-width: 864px;
  box-shadow: 0 8px 20px rgba(68, 75, 77, 0.15);
  border-radius: 8px;
  background-color: #F5F5F5;
  margin: 0 auto;
  position: relative;
  font-family: Roboto, sans-serif;
  padding: 40px 0 40px 32px;

  &--discount {
    font-weight: 700;
  }

  &--discount-size {
    font-style: normal;
    font-size: 104px;
    line-height: 100%;
  }

  &--discount-text {
    font-size: 30px;
  }

  &--description {
    font-size: 24px;
    color: #828688;
    line-height: 100%;
    font-weight: 700;
    margin-top: 16px;
  }

  &--line-container {
    height: 2px;
    width: 67px;
    background-color: #C24DFE;
    margin: 26px 0;
  }
}

.form {
  &--group {
    display: flex;
    flex-direction: column;
    max-width: 302px;
  }

  &--label {
    font-size: 12px;
    font-weight: 700;
    color: #828688;
    line-height: 2;
  }

  &--input-text {
    font-size: 14px;
    border-color: #D5D7D7;
    border-radius: 6px;
    padding: 7.5px 16px;
  }

  &--input-text {
    &:focus {
      outline-width: 0;
    }
  }

  &--submit {
    margin-top: 16px;
    background-color: #C24DFE;
    border-radius: 35px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding: 13px 24px;
  }
}

.close-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 10px;
  height: 10px;

  img {
    position: absolute;
  }

  .line-right {
    transform: rotate(90deg);
  }

  &:hover {
    cursor: pointer;
  }
}


